body {
    color: white;
    font-size: 0.9rem;
}

h1 {
    background-color: #75452F;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border-radius: 7px;
    padding: 10px 0;
    box-shadow: 0px 0px 15px #333;
}

form {
    width: 500px;
    margin: 0 auto;
}

fieldset {
    margin: 17px 0;
    background-color: #75452F;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 15px #333;
}

fieldset input::placeholder {
    color: black;
}

fieldset legend {
    box-shadow: 0px 0px 6px #333;
    background-color: #75452F;
    border: 3.5px dashed #dbd4d1;
    border-radius: 10px;
    padding: 7px;
    font-weight: bold;
    margin-bottom: 5px;
}

#name {
    border-radius: 5px;
    padding: 0;
    background-color: #c5a69a;
    width: 472px;
}

#formColor option:checked {
    background-color: #462f24;
}

#formColor {
    width: 120px;
    background-color: #75452F;

}

#whereUFrom {
    border: 1px solid #333;
}

input[name="books"] {
    margin: 6px 0;
}

#formAbout {
    width: 472px;
    resize: none;
    background-color: #c5a69a;
    border-radius: 7px;
}

fieldset:nth-last-child(1) {
    display: flex;
    justify-content: space-between;
}

#endButton {
    flex-basis: 49%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid white;
    background-color: #75452F;
    color: white;
    cursor: pointer;
}

#endButton:hover {
    background-color: #a35d3c;
    transition: .5s;
}