@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --transparentGray: rgba(50, 50, 50, 0.7);
    --darkGray: rgb(51, 49, 49);
    --darkBrown: #75452F;
    --darkerBrown: #4b2a1b;
    --lightBrown: #755D52;
    --darkGray: #333;
    --lightGray: #999;
    --white: rgb(255, 255, 255);
    --red: rgb(221, 48, 48);
    --orange: rgb(243, 172, 40);
}

#sekcja4 a {
    color: var(--lightGray);
}

#sekcja4 a:hover {
    color: var(--darkerBrown)
}

#sekcja4 a:focus {
    color: var(--orange)
}

.container {
    background-color: var(--lightBrown);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingPage {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../Images/LandingPage.jpg);
    background-position: center;
    background-size: cover;
}

.bgc {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--transparentGray);
    z-index: 5;
}

.landingContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    bottom: 50%;
    transform: translateY(50%);
}

.landingContent h1 {
    font-size: 4rem;
    margin: 0;
}

.landingContent button {
    width: 30%;
    height: 50px;
    margin-top: 10px;
    font-weight: bold;
    border: none;
    color: var(--darkGray);
    background-color: var(--lightGray);
    transition: .5s;
}

.landingContent button:hover {
    color: var(--lightGray);
    background-color: var(--lightBrown);
    cursor: pointer;
}

.container,
footer {
    text-align: justify;

}

.container h1 {
    padding-top: 10px;
}


.container-main,
footer {
    width: 70%;
    padding: 2.5% 5%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--darkBrown);
    position: relative;
}

footer p {
    line-height: 30px;
    margin: 0;
    text-align: center;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--white);
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo1,
.photo2 {
    margin: 0 auto;
    border-radius: 10px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
}

.photos {
    position: relative;
    box-shadow: 4px 4px var(--lightGray);
    display: flex;
    flex-direction: column;
    background-color: var(--darkerBrown);
    max-width: 500px;
    border-radius: 10px;
    padding-top: 10px;
    height: 420px;
    width: 80%;
    align-items: center;
}

.photos a {
    position: absolute;
    bottom: 25px;
    color: var(--lightGray);
    padding: 0 15px;
    text-align: center;
}


.photo1 {
    background-image: url(../Images/photo2.jpg);
}

.photo2 {
    background-image: url(../Images/photo1.jpg);
}

.list {
    display: flex;
    height: 250px;
    width: 100%;

}

.list ul,
.list ol {
    padding: 2% 5%;
    margin: 2%;
    width: 43%;
    background-color: var(--darkerBrown);
    border-radius: 10px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 1px black;
}

li {
    text-align: center;
}

.table {
    background-color: var(--darkerBrown);
    border-radius: 10px;
    padding: 20px 0 30px;
    text-align: center;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 1px black;
}

.table table {
    border-collapse: collapse;
    width: 50%;

}

.table th,
.table td {
    border: 0.5px dotted var(--white);
    padding: 5px 0;
}

a:hover {
    color: var(--lightBrown);
}

a:focus {
    color: var(--orange);
}

a:visited {
    color: var(--darkBrown);
}

hr {
    width: 85%;
}

#clock {
    position: absolute;
    height: 50px;
    width: 100px;
    right: 4%;
    bottom: 50%;
    transform: translateY(+50%);
    text-align: center;
    line-height: 50px;
}